<section class="product-detail-content">
  <div class="detail-content-wrapper">
    <div class="container">
      <div class="row">
        <div class="detail-content-inner">
          <div id="product" class="{{ product.handle }} detail-content">
            <div class="col-md-12 info-detail-pro clearfix">
              <div class="col-md-6" id="product-image">                          
                <div id="featuted-image" class="image featured">
                  {% if product.images.size > 0 %}       
                  {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                  {% if settings.enable_product_image_zoom %}
                  <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
                  {% else %}
                  <a href="{{ featured_image | img_url: '1024x1024' }}" class="zoom" id="placeholder">
                    <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
                  </a>
                  {% endif %}
                  {% else %}
                  <img src="{{ 'No_Image_2.png' | asset_url }}" />
                  {% endif %}
                </div>

                {% if product.images.size > 1 %}
                <div id="gallery-images" class="thumbs clearfix">
                  <div class="gallery-images-inner">
                    <div class="slider-3itemsc">
                      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                      {% for image in product.images %}
                      {% if settings.enable_product_image_zoom %}
                      <div class="image{% cycle 'last-in-row': '', '', '', ' last-in-row' %}{% if image == featured_image %} active{% endif %}">
                        <a href="{{ image | product_img_url: '1024x1024' }}" class="cloud-zoom-gallery">
                          <img src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                        </a>
                      </div>
                      {% else %}
                      <div class="image{% cycle 'last-in-row': '', '', '', ' last-in-row' %}">
                        <a href="{{ image | product_img_url: '1024x1024' }}" data-original-image="{{ image | product_img_url: '1024x1024' }}">
                          <img src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                        </a>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>                  
                </div>
                {% endif %}
              </div>
              <div class="col-md-6" id="product-information">
                <a href="{{ product.url | within: collection }}"><h1 class="title">{{ product.title }}</h1></a>                                                                                               

                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                {% assign hide_default_title = true %}
                {% endif %}

                <form id="add-item-form" action="{{ product.url | within: collection }}" class="variants clearfix">
                  <div class="product-options {% if hide_default_title %}no-options {% endif %}">					

                    {% assign variant = product.selected_or_first_available_variant %}
                    <div class="purchase">
                      <h2 class="price" id="price-preview">{{ variant.price | money }}{% if variant.price < variant.compare_at_price %} <del>{{ variant.compare_at_price | money }}</del>{% endif %}</h2>
                    </div>

                    {% if settings.enable_rating_star %}
                    <div class="rating-star">
                      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                      <!--<span class="review-link"><a href="{{ product.url | within: collection }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Be the first to review this product</a></span>-->
                    </div>
                    <script>
                      $('.review-link a').click(function(e) {
                        e.preventDefault();
                        var scrollto = $(this).attr('href');
                        var fix_scrollto = $(scrollto).offset().top + 1800;
                        $('html, body').animate({
                          scrollTop: fix_scrollto
                        }, 500);
                      });
                    </script>
                    {% endif %}

                    {% if settings.enable_vendor %}
                    <div class="product_vendor">{{ 'minimal.product.vendor' |t :x:product.vendor }}</div>
                    {% endif %}

                    {% if settings.enable_type %}
                    <div class="product_type">{{ 'minimal.product.type' |t :x:product.type }}</div>
                    {% endif %}

                    {% if settings.enable_sku %}
                    <div class="product_vendor">{{ 'minimal.product.sku' |t :x:product.variants.first.sku }}</div>
                    {% endif %}

                    {% if settings.enable_quickoverview %}
                    <div class="description">                      
                      {{ product.description | strip_html | truncatewords: settings.detail_qov_lenght }}
                    </div>
                    {% endif %}

                    <div class="option-available clearfix">
                      <span>Option Available</span>
                    </div>
                    
                    {% if settings.color_swatch %}
                    {% if product.available %}
                    {% for option in product.options %}
                    {% include 'swatch' with option %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    
                    <div class="buy-now">
                      <div class="purchase">
                        <button class="btn"><i class="fa fa-shopping-bag"></i>{{"products.product.add_to_cart"|t}}</button>                        
                      </div>
                    </div>
                    
                  </div>
                </form>

                {% if settings.display_wishlist %}
                <div class="add-to-wishlist">
                  {% if product.available %}
                  {% if customer %}
                  {% include 'wish-list' %}
                  {% else %}
                  <span class="non-user" data-toggle="tooltip" data-placement="right" title="{{ 'collections.product_item.wishlist_note' | t }}"><i class="fa fa-heart"></i>{{ 'collections.product_item.wishlist' | t }}</span>
                  {% endif %}
                  {% endif %}
                </div>
                {% endif %}
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="display:none" id="preloading">
  {% for image in product.images offset: 1 %}
  {{ image | product_img_url: '1024x1024' | img_tag }}
  {% endfor %}
</div>

<script>
  var selectCallback = function(variant, selector) {
    if (variant && variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.featured img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    if (variant && variant.available) {
      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + " <del>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</del>");
      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
      }
    } else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
      var message = variant ? {{ 'products.product.sold_out_html' | t | json }} : {{ 'products.product.unavailable_html' | t | json }};
      jQuery('#price-preview').html(message);
    }
  };
  </script>
