<!-- snippet/product-price.liquid -->
{% if variant.title %}
{%- assign compare_at_price = variant.compare_at_price -%}
{%- assign price = variant.price -%}
{%- assign available = variant.available -%}
{% else %}
{%- assign compare_at_price = 1999 -%}
{%- assign price = 1999 -%}
{%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

<div class="{% if compare_at_price > price %} price--on-sale{% endif %}" data-price>

  {% if section.settings.show_vendor %}
  <div class="price__vendor">
    <dt>
      <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
    </dt>
    <dd>
      {{ product.vendor }}
    </dd>
  </div>
  {% endif %}
  <div class="retail_price">
    <div class="retail">Retail Price:&nbsp; </div>
    <div class="price-item price-item--regular retail" data-regular-price>
      {% if available %}
      {% if compare_at_price > price %}
      {{ compare_at_price | money }}
      {% else %}
      {{ money_price }}
      {% endif %}
      {% else %}
      {{ 'products.product.sold_out' | t }}
      {% endif %}
    </div>
  </div>

  <div class="our_price">
    <div class="out-price">Our Price</div>
    <div class="price-item price-item--sale out-price current_our_price" data-sale-price>
      <div class="current_our_price">{{ money_price }}</div>
    </div>
  </div>
</div>
